<div class="container">
	<h2 class="title-strip">{{jsonFeed.setItem.0.name}}</h2>
	<div class="content list-set">

		<div class="thumbnail-row">
			{{#each jsonFeed.setItem.0.images~}}

			{{#ifMod @index 4 0}}
			{{#ifNeq @index 0}}
			</div>
			<div class="thumbnail-row">
			{{/ifNeq}}
			{{/ifMod}}
			<div class="thumbnail">
				<div class="image" style="background-image:url('{{this.image.thumb-xhdpi}}');">
					<!-- <img src="{{this.image.thumb-xhdpi}}" alt="" class="source-image"> -->
					<a class="div-link" href="/{{../bodyClass}}/{{../jsonFeed.setItem.0.slug}}/{{add @index 1}}"></a>
				</div>
			</div>
			{{/each}}
		</div>

	</div>
</div>