<div class="container">
	<h2 class="title-strip"></h2>
	<div class="content set">
		<div class="set-wrap">
			<div class="arrow" id="left-arrow" style="visibility:hidden;">
				<h3><</h3>
			</div>
			<div class="main-pic">
				<ul data-visible-index="{{bodyClass}}" data-total-pics="{{jsonFeed.setItem.0.images.length}}" id="carousel">
					{{#each jsonFeed.setItem.0.images}}
						{{#addIfEq @index 1 ../bodyClass}}
						<li data-proj-title="{{../../jsonFeed.setItem.0.name}}">
						{{/addIfEq}}
						{{#addIfNeq @index 1 ../bodyClass}}
						<li style="display:none;" data-proj-title="{{../../jsonFeed.setItem.0.name}}">
						{{/addIfNeq}}
							<img src="{{this.image.carousel-xhdpi}}" alt="" class="source-image">
						</li>
					{{/each}}
				</ul>
			</div>
			<div class="arrow" id="right-arrow">
				<h3>></h3>
			</div>
		</div>
		<div class="back-button"><a href="/{{toLowerCase this.title}}">back</a></div>
	</div>
</div>